@using Texnokaktus.ProgOlymp.Common.Contracts.Grpc.Common
@model (long? YandexContestId, Texnokaktus.ProgOlymp.Data.Models.ContestParticipation? Participation)

@switch (Model.Participation?.ParticipationState)
{
    case ParticipationState.NotStarted:
        <td class="bg-info">Не начато</td>
        break;
    case ParticipationState.InProgress:
        @if (Model.YandexContestId.HasValue)
        {
            <td class="bg-warning">
                <a href="https://admin.contest.yandex.ru/contests/@Model.YandexContestId/submissions?filter=participantId=@Model.Participation.YandexContestId" target="_blank">В процессе</a>
            </td>
        }
        else
        {
            <td class="bg-warning">В процессе</td>
        }
        break;
    case ParticipationState.Finished:
        @if (Model.YandexContestId.HasValue)
        {
            <td class="bg-success">
                <a class="text-white" href="https://admin.contest.yandex.ru/contests/@Model.YandexContestId/submissions?filter=participantId=@Model.Participation.YandexContestId" target="_blank">Завершено</a>
            </td>
        }
        else
        {
            <td class="bg-success text-whiteg">Завершено</td>
        }
        break;
    default:
        <td class="bg-secondary text-white">Не зарегистрирован</td>
        break;
}
